[submodule "Libs/CDList-1.0"]
	path = Libs/CDList-1.0
	url = https://github.com/NicolasYD/CDList-1.0.git
[submodule "Libs/DRList-1.0"]
	path = Libs/DRList-1.0
	url = https://github.com/NicolasYD/DRList-1.0.git
